
<div class="editForm">
  <%if @recipe.public? == true || (@recipe.public? == false && @recipe.user.id == session[:user_id])%>

  <h1><%=@recipe.name.titleize%></h1> 
  <h3>Freak: <%=@recipe.user.username%></h3>
  
  <div class="submitButton">
    <%if @recipe.likes.select {|like| like.user_id == session[:user_id]} != []%>
        <form action="/users/like" method="post" style="display: inline-block;">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="destination" value="/recipes/<%=@recipe.id%>">
          <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
          <input type="submit" value="Unlike" style="cursor: pointer;">
        </form>
    <%else%>
        <form action="/users/like" method="post" style="display: inline-block;">
          <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
          <input type="hidden" name="destination" value="/recipes/<%=@recipe.id%>">
          <input type="submit" value="Like Recipe" style="cursor: pointer;">
        </form>
    <%end%>

    <%if @recipe.bags.select {|bag| bag.user_id == session[:user_id]} != []%>
        <form action="/users/bag" method="post" style="display: inline-block;">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
          <input type="hidden" name="destination" value="/recipes/<%=@recipe.id%>">
          <input type="submit" value="Added To Grocery List" style="cursor: pointer;">
        </form>
    <%else%>
        <form action="/users/bag" method="post" style="display: inline-block;">
          <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
          <input type="hidden" name="destination" value="/recipes/<%=@recipe.id%>">
          <input type="submit" value="Add To Grocery List" style="cursor: pointer;">
        </form>
    <%end%>

    <%if @recipe.user.id == session[:user_id] ||  session[:user_id] == 1%>
      
        <a href="/recipes/<%=@recipe.id%>/edit">Edit Recipe</a>
        <%if @recipe.public? %>(Published) <%else%>(Not Published) <%end%>
        <form action="/recipes/<%=@recipe.id%>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="button" value="Delete Recipe"  onclick='if(confirm("are you sure?")) { this.form.submit(); }'>
        </form>
    <%end%>
  </div>
<h2><%=@recipe.cuisine.name.titleize%></h2>
<h3>Cook Time: <%if @recipe.cook_time%><%=@recipe.cook_time.titleize%><%else%>Unknown<%end%></h3>
<br>

<h3>Serving Size: 
  <form action="/recipes/<%=@recipe.id%>" method="get" style="display: inline-block;">
    <input type="number" name="serving" value="<%=@serving%>" onchange='if(this.value != 0) { this.form.submit(); }'>
  </form>
</h3>

<h3>Ingredients:</h3>
<ol>
  <%@recipe.ingredients.each do |ingredient|%>
    <li style="padding: 5px">
    <%if @serving%>
      <%=ingredient.step_change(@serving).round(2)%>
    <%else%>
       <%=ingredient.amount%>
    <%end%>
    <%=ingredient.unit_type%> <%=ingredient.name%></li>
  <%end%>
</ol>
<br><br>

<h3>Instructions:</h3>
<ol>
  <textarea readonly="true" style="width: 80%; height: 200px;"><%@recipe.steps.each do |step|%><%=step.action%><%end%></textarea>
</ol>
<br>
 <input class="printButton" type="image" src="/images/print-outline.png" onclick="window.print();return false;" alt="Print">
</div>

<%else%>
  <h2>Private Recipe</h2>
<%end%>

