<h1><%=@recipe.name.titleize%> by <%=@recipe.user.username%>
 <%if @recipe.likes.select {|like| like.user_id == session[:user_id]} != []%>
    <form action="/recipes/like" method="post" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
      <input type="submit" value="Unlike" style="cursor: pointer;">
    </form>
  <%else%>
    <form action="/recipes/like" method="post" style="display: inline-block;">
      <input type="hidden" name="recipe_id" value="<%=@recipe.id%>">
      <input type="submit" value="Like Recipe" style="cursor: pointer;">
    </form>
  <%end%>
</h1>
  <% if @like_error %>
    <%=@like_error%>
  <%end%>

<h2><%=@recipe.cuisine.name.titleize%></h2>
<h3>Cook Time: <%if @recipe.cook_time%><%=@recipe.cook_time.titleize%><%else%>Unknown<%end%></h3>
<br>
<h4>Serving Size: <%=@recipe.serving_size%></h4>

<%if @recipe.user.id == session[:user_id]%>
  <h4><a href="/recipes/<%=@recipe.id%>/edit">Edit Recipe</a></h4>
  <form action="/recipes/<%=@recipe.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
<%end%>

<h3>Ingredients:</h3>
<ol>
  <%@recipe.ingredients.each do |ingredient|%>
    <li><%=ingredient.amount%> <%=ingredient.unit_type%> <%=ingredient.name%></li>
  <%end%>
</ol>

<br><br>

<h3>Instructions:</h3>
<ol>
  <%@recipe.steps.each do |step|%>
    <li>-<%=step.action%></li>
  <%end%>
</ol>

