<div class="editForm">
  <% if logged_in? %>
    <h1>My Grocery List:</h1>
    <table id="groceryList">
      <tr>
        <th>Recipes</th>
        <th>Ingredients To Get</th>
      </tr>
  
        <%@recipes.each do |recipe| %>
        <tr>
          <td>
       
            <a href="/recipes/<%=recipe.id%>">
              <h4><%=recipe.name.capitalize%></h4>
            </a>
            <br><br>
            <form action="/users/bag" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
                <input type="hidden" name="destination" value="/users/bag">
                <input type="submit" value="Remove From Grocery List" style="cursor: pointer;">
            </form>
          </td>

          <td>
          
            <ol>
              <%recipe.ingredients.each do |ingredient|%>
                <li>- <%=ingredient.amount%> <%=ingredient.unit_type%> <%=ingredient.name%></li>
              <%end%>
            </ol>
          </td>
        <%end%>
        
    </table>
    <input class="printButton" type="image" src="/images/print-outline.png" onclick="window.print();return false;" alt="Print">
</div>
<% else %>
<h3>Please <a href="/login">Log In</a> to view this page</h3>
<%end%>
