<% if logged_in? %>

<h3>Liked Recipes:</h3>

<%@recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">
  <h4><%=recipe.name.capitalize%> 
  <%if recipe.cuisine %> - <%=recipe.cuisine.name.capitalize%><%end%>
  <%if recipe.user %> - <%=recipe.user.username%> <%end%>
  </a>
   <%if recipe.bags.select {|bag| bag.user_id == session[:user_id]} != []%>
    <form action="/users/bag" method="post" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
      <input type="hidden" name="destination" value="/users/like">
      <input type="submit" value="Added To Grocery List" style="cursor: pointer;">
    </form>
  <%else%>
    <form action="/users/bag" method="post" style="display: inline-block;">
      <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
      <input type="hidden" name="destination" value="/users/like">
      <input type="submit" value="Add to Grocery List" style="cursor: pointer;">
    </form>
  <%end%>
  </h4>
<%end%>



<% else %>
<h3>Please <a href="/login">Log In</a> to view this page</h3>
<%end%>

