<% if logged_in? %>
<h2>Hello <%=current_user.username%>!</h2>

<h3>My Recipes:</h3>

<%@recipes.each do |recipe| %>
  <a href="/recipes/<%=recipe.id%>">
  <h4><%=recipe.name.capitalize%> 
  <%if recipe.cuisine %> - <%=recipe.cuisine.name.capitalize%><%end%>
  <%if recipe.user %> - <%=recipe.user.username%> <%end%>
  <%if recipe.public? %> - (Published) <%else%> - (Not Published) <%end%>
  </h4></a>
<%end%>



<% else %>
<h3>Please <a href="/login">Log In</a> to view this page</h3>
<%end%>
