
  <% if logged_in? %>
  <div class="list">
    <div class="header">
      <h1>Hello <%=current_user.username%>!</h1>
    </div>
    <%@recipes.each do |recipe| %>
      <div class="listItem">
        <a href="/recipes/<%=recipe.id%>">
          <h4><%=recipe.name.capitalize%> </h4>
          <%if recipe.cuisine %> <br> <%=recipe.cuisine.name.capitalize%><%end%>
          <%if recipe.public? %> <br><br> (Published) <%else%> <br><br> (Not Published) <%end%>
        </a>
        <br><br>
          <a href="/recipes/<%=recipe.id%>/edit">Edit Recipe</a>
      </div>
    <%end%>
  </div>

<% else %>
<h3>Please <a href="/login">Log In</a> to view this page</h3>
<%end%>
