

<h3>Browse Recipes</h3>

  <% if @like_error %>
    <%=@like_error%>
  <%end%>
<h4>Filter:</h4>
<form action="/sort" method="post">
  <select name="sort" value="filter" onchange='if(this.value != 0) { this.form.submit(); }'>
    <option disabled selected value><%=@last%></option>
    <option value="recent">Recent-Old</option>
    <option value="popular">Popular</option>
    <option value="name">Alphabetical</option>
    <optgroup label="By Cuisine" value="cuisine">
      <%@recipes.each do |recipe|%>
        <option value="<%=recipe.cuisine.name%>"><%=recipe.cuisine.name%></option>
      <%end%>
    </optgroup>
  </select>
</form>

<%@recipes.reverse.each do |recipe| %>
<%if recipe.public? == true%>
  <a href="/recipes/<%=recipe.id%>">
  <h4><%=recipe.name.titleize%> 
  <%if recipe.cuisine %> - <%=recipe.cuisine.name.titleize%><%end%>
  <%if recipe.user %> - <%=recipe.user.username%> <%end%></a>

  <%if recipe.likes.select {|like| like.user_id == session[:user_id]} != []%>
    <form action="/users/like" method="post" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
      <input type="submit" value="Unlike" style="cursor: pointer;">
    </form>
  <%else%>
    <form action="/users/like" method="post" style="display: inline-block;">
      <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
      <input type="submit" value="Like" style="cursor: pointer;">
    </form>
  <%end%>
  </h4>
 <%end%>
<%end%>