

<h1>Browse Recipes</h1>

<% if @like_error %>
  <%=@like_error%>
<%end%>

<div id="searchContainer">
  <form action="/sort" method="post" id="searchby">
    <input id="searchbar" type="text" name="sort[keyword]" placeholder="Search by keyword, recipe, ingredient, cuisine, username">
    <input type="submit" value="Search">
  </form>
  
  <form action="/sort" method="post" id="filter">
  <label>Filter:</label>
    <select name="sort" value="filter" onchange='if(this.value != 0) { this.form.submit(); }' id="filterbar">
      <option disabled selected value><%=@last%></option>
      <option value="recent">Recent-Old</option>
      <option value="popular">Popular</option>
      <option value="name">Alphabetical</option>
      <optgroup label="By Cuisine" value="cuisine">
        <%@cuisines.each do |cuisine|%>
          <option value="<%=cuisine%>"><%=cuisine%></option>
        <%end%>
      </optgroup>
    </select>
  </form>
</div>

<div class="list">
  <%@recipes.reverse.each do |recipe| %>
    <%if recipe.public? == true%>
      <div class="listItem">
        <a href="/recipes/<%=recipe.id%>">
          <h4><%=recipe.name.titleize%></h4>
          <hr>
          <h5>
            Cuisine: <%if recipe.cuisine %> <%=recipe.cuisine.name.titleize%><%end%><br>
            Cook Time: <%if recipe.cook_time %> <%=recipe.cook_time%> <%end%><br>
            By: <%if recipe.user %> <%=recipe.user.username%> <%end%><br>
          </h5> 
        </a>
            <br>
            <h6> 
              <%=recipe.likes.count%> likes
              
              <%if recipe.likes.select {|like| like.user_id == session[:user_id]} != []%>
                <form action="/users/like" method="post" style="display: inline-block;">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
                  <input type="submit" value="Unlike" style="cursor: pointer;">
                </form>
              <%else%>
                <form action="/users/like" method="post" style="display: inline-block;">
                  <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
                  <input type="submit" value="Like" width="45" style="cursor: pointer;">
                </form>
              <%end%>
            <br><br>
              <%if recipe.bags.select {|bag| bag.user_id == session[:user_id]} != []%>
                <form action="/users/bag" method="post" style="display: inline-block;">
                  <input type="hidden" name="_method" value="delete">
                  <input type="hidden" name="destination" value="/">
                  <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
                  <input type="submit" value="Added To Grocery List" style="cursor: pointer;">
                </form>
              <%else%>
                <form action="/users/bag" method="post" style="display: inline-block;">
                  <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
                  <input type="hidden" name="destination" value="/">
                  <input type="submit" value="Add to Grocery List" style="cursor: pointer;">
                </form>
              <%end%>
            </h6>
      </div>
    <%end%>
  <%end%>
</div>