

<h2>Browse Recipes</h2>

  <% if @like_error %>
    <%=@like_error%>
  <%end%>
<div class="search">
  <form action="/sort" method="post">
    <input type="text" name="sort[keyword]" placeholder="Search by keyword, recipe, ingredient, cuisine, username">
    <input type="submit" value="Search">
  </form>
  <label>Filter:</label>
  <form action="/sort" method="post">
    <select name="sort" value="filter" onchange='if(this.value != 0) { this.form.submit(); }'>
      <option disabled selected value><%=@last%></option>
      <option value="recent">Recent-Old</option>
      <option value="popular">Popular</option>
      <option value="name">Alphabetical</option>
      <optgroup label="By Cuisine" value="cuisine">
        <%@cuisines.each do |cuisine|%>
          <option value="<%=cuisine%>"><%=cuisine%></option>
        <%end%>
      </optgroup>
    </select>
  </form>
</div>

<div class="list">
  <%@recipes.reverse.each do |recipe| %>
  <%if recipe.public? == true%>
    <a href="/recipes/<%=recipe.id%>">
    <h4><%=recipe.name.titleize%> 
    <%if recipe.cuisine %> - <%=recipe.cuisine.name.titleize%><%end%>
    <%if recipe.user %> - <%=recipe.user.username%> <%end%></a>
    - <%=recipe.likes.count%> likes

    <%if recipe.likes.select {|like| like.user_id == session[:user_id]} != []%>
      <form action="/users/like" method="post" style="display: inline-block;">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
        <input type="submit" value="Unlike" style="cursor: pointer;">
      </form>
    <%else%>
      <form action="/users/like" method="post" style="display: inline-block;">
        <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
        <input type="submit" value="Like" style="cursor: pointer;">
      </form>
    <%end%>

    <%if recipe.bags.select {|bag| bag.user_id == session[:user_id]} != []%>
      <form action="/users/bag" method="post" style="display: inline-block;">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="destination" value="/">
        <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
        <input type="submit" value="Added To Grocery List" style="cursor: pointer;">
      </form>
    <%else%>
      <form action="/users/bag" method="post" style="display: inline-block;">
        <input type="hidden" name="recipe_id" value="<%=recipe.id%>">
        <input type="hidden" name="destination" value="/">
        <input type="submit" value="Add to Grocery List" style="cursor: pointer;">
      </form>
    <%end%>
    </h4>
  <%end%>
  <%end%>
</div>